OLTP_URL=mssql+pyodbc://sa:BancoCloud!Local1@localhost:1433/bancocloud?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
DW_URL=mssql+pyodbc://sa:BancoCloud!Local1@localhost:1433/bancocloud_dw?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
BRONZE_PATH=./bronze
VERSION_IMAGEN=local
SAL_DOCUMENTO=cambiar-en-produccion
